main {
    max-width: unset;

}

br {
    line-height: 32px;
}

.timeline {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    grid-auto-rows: auto;
    column-gap: 4px;
    row-gap: 1rem;
    grid-template-areas:
        ". truthkeep"
        ". twelveeighty"
        ". LHL"
        ". karat"
        ". tribalscale"
        ". vouchr"
        ". post-uoft"
        ". rubikloud"
        ". dcs"
        ". uoft";
    margin: 0 16px;
}

.marker {
    grid-column: 1;
    width: calc(33% - 2px);
    background-color: black;
    border-radius: 8px;
}

.marker.lane-1 {
    margin-left: 0;
}

.marker.lane-2 {
    margin-left: 33%;
}

.marker.lane-3 {
    margin-left: 67%;
}

section {
    grid-column: 2;
    margin: 0;
}

section .title {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
}

section .title h3 {
    margin: 0 0 4px 0;
}

section .title a {
    color: blue;
}

.role {
    color: #757575;
}

.date-range {
    color: #757575;
    display: flex;
    flex-direction: column;
}

.date-range span {
    white-space: nowrap;
}

.timeline-bubble-container {
    width: 100%
}

#timeline-bubble {
    transform: translateY(-50%);
    transition: opacity 300ms ease-in-out;
    border-radius: 4px;
    width: 28px;
    height: 0.25rem;
    border: 2px solid black;
    background-color: #75757550;
    position: fixed;
    top: 0;
    left: calc(max(11px, 11px + (100vw - 720px) / 2));
    opacity: 0;
}

.timeline-bubble-container:hover #timeline-bubble {
    opacity: 1;
    transform: translateY(-50%);
}

#timeline-bubble-year {
    position: absolute;
    transform: translate(-0.5rem, calc(-50% - 1.5rem));
    padding: 0.25rem;
    white-space: nowrap;
    color: white;
    background-color: black;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    font-variant-numeric: tabular-nums;

    transition: transform 150ms ease-in-out;
}

@media(min-width: 840px) {
    #timeline-bubble-year {
        transform: translate(calc(-100% - 0.5rem), calc(-50% + 0.125rem));
        font-size: 1rem;
        padding: 0.5rem;
    }
}